/* ------------------- */
/* 共通 */

/* 基本色 */
:root {
  --main-color : #B4CBD9;/*rgba(180, 203, 217, 0)*/
  --accent-color : #f2af05 ;/*rgba(242, 175, 2, 0)*/
  --dark-main-color : #333; /*rgba(51, 51, 51, 0)*/
  --text-bright-color : #f2f2f2; /*rgba(242, 242, 242, 0)*/
  --icon-color : #fff;
  --icon-bk-color : #ddd;
  --gray-color :#ddd;
  --large-width:1000px;
  --small-width:500px;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, 
  ".SFNSDisplay-Regular", "Hiragino Sans", "Hiragino Kaku Gothic ProN",
  Helvetica, "游ゴシック Medium", meiryo, sans-serif;
  font-size: 16px;
  letter-spacing: 0.1rem;
}

/* リンクをちょうどいい位置に飛ばす */
a.anchor {
  display: block;
  padding-top: 150px;
  margin-top: -150px;
}

/* ロード時にページ全体をフェードイン */
body {
animation: fade 3s;
}

@keyframes fade {
  0% {opacity: 0;
  }
  100% {opacity: 1;
  }
}

p {
  color: var(--dark-main-color);
}

.title {
  display: block;      /* １．aタグをブロック要素にしてmarginが効くようにする */
  width: fit-content;  /* ２．ブロック要素になり親要素いっぱいになった横幅をテキスト幅に合わせる */
  margin: 0 auto;      /* ３．左右中央寄せにする */
}
 
/* 共通 */
/* ------------------- */



/* ------------------- */ 
/*　header　*/

.head-fixed, .nohero .head-fixed {
  position: fixed;
}
.nohero .head-fixed + * {
  margin-top: 150px;
}
.nohero header {
  position: static;
  margin-bottom: 3rem;
}

/*　header　*/
/* ------------------- */ 

.contact{
  display: block;
  padding: 5rem 0;
  margin:0 auto;
  text-align: center;
}

.frm{
  display: flex;
  flex-direction:column;
  width: 1000px;
  border-radius: 20px;
  background-color: var(--text-bright-color);
  margin-left: auto;
  margin-right: auto;
}

.frm__text{
  margin-left: auto;
  margin-right: auto;
  padding: 3rem;
}

.frm__box{
  margin-left: auto;
  margin-right: auto;
  margin-bottom:3rem;
  padding: 1rem;

  width: 80%;
  max-width: var(--small-width);
  border-radius: 20px;

  outline:none;
  border: none;

  color: var(--dark-main-color);
  background-color: var(--icon-color);
  font-size: clamp(16px, 1vw, 24px);
  letter-spacing: 0.3rem;
}

.frm__jp,
.frm__en{
  color: var(--main-color);
}

.frm__en {
  letter-spacing: 0.14rem;
}

.msg{
  height:10rem;
  resize: vertical;
  max-width: var(--small-width);
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, 
    ".SFNSDisplay-Regular", "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    Helvetica, "游ゴシック Medium", meiryo, sans-serif;
}

.btn{
  color: var(--icon-color);
  background-color: #f2af05;

  font-size: clamp(16px, 1vw, 24px);
  letter-spacing: 0.3rem;

  border-radius:4rem;

  margin:5rem auto;
  padding: 30px;
  
  width: 50%;
  max-width: 300px;

  border: none;
  transition: .5s;
  display:inline-block;
  cursor: pointer;

}

input:first-of-type{
  margin-top:35px;
}

.send[disabled] {
  background-color: var(--gray-color);
  cursor: not-allowed;
}

::placeholder {
  color: #f2af05;
  color: var(--accent-color);
}

/* ------------------- */ 

/* phone */
  @media (max-width: 768px) {

  .frm {
      overflow-wrap:anywhere;
      max-width: 375px;
  }

  .frm__jp br {
    display: none!important;
  }

  label.error {
    width: 90%;
  }

}
/* tablet */
@media  (min-width: 769px) and (max-width: 992px) {

  .frm__jp br{
    display: none!important;
    }

}

/* pc */
@media  (min-width:768px){

  .frm__jp br{
  display: none!important;
  }

}
